<h1>Admin</h1>
<h2><%= link_to 'Pages', pages_path %></h2>
<h2><%= link_to 'Menus', menus_path %></h2>
<h2><%= link_to 'Navigation Menus', nav_menus_path %></h2>
<h2><%= link_to 'Sittings', sittings_path %></h2>
