<h1>Yahoo test</h1>
<script>
var myEditor = new YAHOO.widget.SimpleEditor('msgpost', {
    height: '300px',
    width: '522px',
    dompath: true //Turns on the bar at the bottom
});
myEditor.render();
</script>
<div class="yui-skin-sam">
<textarea name="msgpost_anything" id="msgpost" cols="50" rows="10">
    <strong>Your</strong> HTML <em>code</em> goes here.<br>
    This text will be pre-loaded in the editor when it is rendered.
</textarea>
</div>