<div class="dish">
	<div class="dish_details">
		<div class="dish_name">
		<%= dish.name %>
		</div>
		<div class="dish_description">
		<%= dish.description %>
		</div>
	</div>
	<div class="dish_price">
		<%= dish.price_display %>
	</div>
</div>