<div id="background_image">
<%= image_tag("#{@page.background_images.first.site}/#{@page.background_images.first.slug}/backgrounds/#{@page.background_images.first.filename}.jpeg") %>
</div>
<% @page.units.each do |unit| %>
	<%= display_unit(unit, 'show') %>
<% end %>
